name: Run Buddy Pipeline from GitHub Actions

on: [push, pull_request, workflow_dispatch]

jobs:
  test-with-setup:
    name: Test with minimal setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Buddy
        uses: buddy/login@v1
        with:
          token: ${{ secrets.TOKEN }}
          region: 'US'

      - name: Run pipeline
        uses: ./
        with:
          workspace: buddy-workshop-devs
          project: tttt
          identifier: a1
          comment: ${{ github.sha }}
          wait: 1
          branch: master
          tag: v1

      - name: Run pipeline with advanced options
        uses: ./
        with:
          workspace: buddy-workshop-devs
          project: tttt
          identifier: a1_2
          comment: 'Testing refresh, cache, priority'
          refresh: true
          clear-cache: true
          priority: HIGH
          branch: master

      - name: Run pipeline with region override
        uses: ./
        with:
          workspace: buddy-workshop-devs
          project: tttt
          identifier: a1_2
          comment: 'Testing region override to US'
          branch: master
          region: us

      - name: Run pipeline with variables
        uses: ./
        with:
          workspace: buddy-workshop-devs
          project: tttt
          identifier: masked
          comment: 'Testing variables and masked variables'
          variable: |
            var1:value1
            var2:value2
            var3:value3
            var4:value4
          variable-masked: masked1:secret1,masked2:secret2,masked3:secret3
