name: Run Buddy Pipeline from GitHub Actions

on: [push, pull_request, workflow_dispatch]

jobs:
  test-with-setup:
    name: Test with minimal setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Buddy
        uses: buddy/login@v1
        with:
          token: ${{ secrets.TOKEN }}
          region: 'US'

      - name: Run pipeline
        uses: ./
        with:
          workspace: buddy-workshop-devs
          project: tttt
          identifier: a1
          comment: ${{ github.sha }}
